.heading{
  margin-bottom: 2rem;

  &__container{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 15px;
    background: #e0e0e0;

    min-width: 420px;
    text-align: center;
  }

  &__text{
    margin-bottom: 0;
    font-size: 2.5rem;
  }
}
