.starship{
  padding: 2rem;
  border: 2px solid #545454;
  position: relative;

  &.starship--appearedInMostFilms::after{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M50,3l12,36h38l-30,22l11,36l-31-21l-31,21l11-36l-30-22h38z' fill='%23FF0' stroke='%23FC0' stroke-width='2'/%3E%3C/svg%3E");
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
  }

  &__name{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__model{
    font-size: 1.25rem;
    color: #797979;
  }

  &__divider{
    width: 100%;
    height: 2px;
    background: #d3d3d3;

    margin: 1.5rem 0;
  }

  &__stats{
    margin: -1rem;
  }
  &__stat{
    display: inline-block;
    text-align: center;
    padding: 1rem;

    &__value{
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    &__name{
      color: #797979;
      font-size: 1.25rem;
    }
  }
}