.starships{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  & > * {
    grid-column: span 12;

    @media (min-width: $md){
      grid-column: span 6;
    }

    @media (min-width: $xl){
      grid-column: span 4;
    }
  }


}