

@font-face {
  font-family: "Diverda Sans";
  font-weight: 400;

  src: url("../fonts/3fc7fbbcf10d563f006158f0aa671ab9.eot"); /* IE9*/
  src: url("../fonts/3fc7fbbcf10d563f006158f0aa671ab9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/3fc7fbbcf10d563f006158f0aa671ab9.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/3fc7fbbcf10d563f006158f0aa671ab9.woff") format("woff"), /* chrome、firefox */
  url("../fonts/3fc7fbbcf10d563f006158f0aa671ab9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/3fc7fbbcf10d563f006158f0aa671ab9.svg#Diverda Sans Com Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Diverda Sans";
  font-weight: 700;

  src: url("../fonts/a46f31b2fdb2094eb82f06a264d03bad.eot"); /* IE9*/
  src: url("../fonts/a46f31b2fdb2094eb82f06a264d03bad.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/a46f31b2fdb2094eb82f06a264d03bad.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/a46f31b2fdb2094eb82f06a264d03bad.woff") format("woff"), /* chrome、firefox */
  url("../fonts/a46f31b2fdb2094eb82f06a264d03bad.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/a46f31b2fdb2094eb82f06a264d03bad.svg#Diverda Sans Com Bold") format("svg"); /* iOS 4.1- */
}